tr {
    border: solid 1px grey;
}

table {
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.photo-cell {
    max-width: 200px; /* Ajustez la largeur maximale souhaitée pour la colonne de la photo */
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block; /* Ajustez cela pour centrer l'image horizontalement */
    margin: 0 auto; /* Centre l'image horizontalement */
}

.alert {
    color: red;
    font-size: 32px;
}
