tr{
    padding : 5%;

}

td{
    padding: 2%;
}

table {
    border: solid #333;
    vertical-align: center;
    color: black;
    margin:auto;
    border-collapse: collapse;
    width: 80%;
    margin-top: 3%;
}

#config {
    color: black;
    text-decoration: none;
    background-color: rgb(224, 224, 224);
    padding: 7px;
    border: 1px solid black;
    margin: 7%;
}

