.categories {
    color: black;
    text-decoration: none;
    font-size: 2em;
    height : 1%;
}

.moto_box{
    background: #FAFAFA;
    border-radius: 1rem;
    box-shadow: 0 0 5px #0000001c;
    border : solid;
    width : 100%;
}

.header_category{
    background-color : grey;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: auto;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

.moto_name{
    color : white;
    font-size: em;
    background-color: black;
    text-align: center;
}

.moto_display{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.moto_lien{
    color: black;
    text-decoration: none;
    margin: 30px;
    width: 27%;
}
