.categories {
    color: black;
    text-decoration: none;
    font-size: 2em;
    height : 1%;
}

.moto_box{
background: #FAFAFA;
border-radius: 1rem;
box-shadow: 0 0 5px #0000001c;
padding: 2em;
border : solid;
}

.header_category{
    background-color : grey;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: auto;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}
