
table {
    border: solid #333;
    vertical-align: center;
    color: black;
    margin:auto;
    border-collapse: collapse;
    width: 80%;
    margin-top: 3%;
}

td,th {
    padding-inline: 2%;
    border-bottom: solid 1px;
    border-top: solid 1px ;
}



h1 {
    vertical-align: center;
    color: black;
    margin:auto;
    padding: 2%;
    text-align: center;
  }

th {
    background-color: #666;
}

h2{
    font-weight: bolder;
    font-size: 32px;
}

h3{
    font-weight: bold;
    text-align: center;
}

h3.photos{
    margin-block: 5%;
}

a.photos{
    background-color: #333 ;
    color: white;
    padding-inline: 2vw;
    padding-block: 1vh;
}

h4{
    font-style: italic;
    font-size: 24px;
}

#photo {
    width: 20%;
}

#eq {
    width: max-content;
}

