table {
    border: solid #333;
    vertical-align: center;
    color: black;
    margin:auto;
    border-collapse: collapse;
    width: 80%;
    margin-top: 3%;
}

td,th {
    padding-inline: 2%;
    border-bottom: solid 1px;
}

th {
    background-color: #666;
}

#config {
    padding: 20px;
    background-color: rgb(199, 195, 189);
    margin-left: 15%;
    margin-top: 25px;
    text-size-adjust: 3%;
}
