tr{
    padding : 5%;
}

td{
    padding: 2%;
    border: 1px solid black;
}

#name{
    width: 25%;
}

#price{
    width: 15%;
}

#coloris{
    width: 25%
}

#taille{
    width: 15%;

}

#quantity{
    width: 15%;
}

#info{
    width: 200px;
    text-align: center;
}

table{
    border: 2px solid black;
    text-align: center;
}
