tr{
    padding : 5%;
}

td{
    padding: 2%;
    border: 1px solid black;
}

#name{
    width: 300px;
}

#price{
    width: 250px;
}

#quantity{
    width: 250px;
}

#info{
    width: 200px;
    text-align: center;
}

table{
    border: 2px solid black;
    text-align: center;
}
