#birthday, #accounttype, #nompays, #datenaissanceclient{
    border-radius: 5px;
    border: 1px solid #d3dce6;
}

#phonenumber{
    display: flex;
    flex-direction: row;
}

h2{
    text-align: center;
}

#bmwmlogo{
    height: auto;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}